<template>
    <div class="tab-content__form">
      <form action="/testing" method="post" class="text-left">
        <div class="form-row">
          <div class="form-group col-sm-12">
            <label for="">HARGA MOBIL OTR</label>
            <div class="input-group input-group-lg">
              <div class="input-group-prepend">
                <span class="input-group-text">Rp</span>
              </div>
              <input type="number" class="form-control currency-mask" placeholder="Masukan Harga OTR Mobil" name="plafond" id="plafond">
            </div>
          </div>
          <div class="form-group col-sm-4 col-xs-12">
            <label for="">UANG MUKA</label>
            <div class="input-group input-group-lg">
              <input type="number" class="form-control" placeholder="Uang Muka" name="dp_percent" id="dp_percent">
              <div class="input-group-prepend">
                <span class="input-group-text">%</span>
              </div>
            </div>
          </div>
          <div class="form-group col-sm-8 col-xs-12">
            <label for="">&nbsp;</label>
            <div class="input-group input-group-lg">
              <div class="input-group-prepend">
                <span class="input-group-text">Rp</span>
              </div>
              <input type="number" class="form-control" placeholder="Masukan Uang Muka" name="dp_rupiah" id="dp_rupiah">
            </div>
          </div>
          <div class="form-group col-sm-12">
            <label for="">JANGKA WAKTU</label>
            <select class="form-control form-control-lg" name="tenor" id="tenor">
              <option value="" disabled selected >Pilih Jangka Waktu</option>
              <option value="3">3</option>
              <option value="6">6</option>
              <option value="12">12</option>
              <option value="18">18</option>
              <option value="24">24</option>
              <option value="30">30</option>
              <option value="36">36</option>
              <option value="48">48</option>
              <option value="60">60</option>
            </select>
          </div>
          <div class="form-group col-sm-12">
            <label class="d-flex align-items-center">ASURANSI JAMINAN</label>
            <select class="form-control form-control-lg" name="insurance" id="insurance">
              <option value="" disabled selected>Pilih Asuransi</option>
              <option value="TLO">TLO</option>
              <option value="ARK">All Risk</option>
            </select>
          </div>
          <div class="form-group col-sm-12">
            <label for="">ZONA WILAYAH</label>
            <select class="form-control form-control-lg" name="region" id="region">
              <option value="" disabled selected>Pilih Wilayah Domisili</option>
              <option value="wilayah_1">Sumatra dan Kepulaunnya</option>
              <option value="wilayah_2">Jakarta, Banten dan Jawa Barat</option>
              <option value="wilayah_3">Lainnya</option>
            </select>
          </div>
          <input type="hidden" name="type" value="NEW">
          <input type="hidden" name="_token" id="csrf-token" value="{{ Session::token() }}" />
          <div class="form-group col-sm-12 text-right">
            <button class="btn btn-secondary btn-lg mt-3" type="submit">HITUNG</button>
          </div>
        </div>
      </form>
      <ul class="list-unstyled mt-3 text-left size-7">
        <li>*Syarat dan ketentuan berlaku.</li>
        <li>*Simulasi merupakan bentuk perkiraan, bukan bentuk terakhir dari angsuran.</li>
        <li>*Harga dan bunga bisa berbeda sesuai dengan ketentuan per daerah.</li>
      </ul>
    </div>
</template>

<script>
    export default {
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>
