.btn-secondary {
 background-color: $orange; 
 border-color: darken($orange,5%);

 &:focus,
 &:active,
 &:hover {
   color: $white;
   background-color: darken($orange,5%);
   border-color: darken($orange,5%);
 }
}

.btn-lg {
  padding: 0.5rem 1.5rem;
  font-size: 1.1rem;
  line-height: 1.5;
  border-radius: 50px;
}

.partner {
  background: rgba(0, 0, 0, 0);
  height: 100px;
  padding: 5px 10px;
}