.is-lightblue {color: $lightblue !important;}
.is-bright-orange {color: $orange !important;}
.is-azure {color: $azure !important;}
.is-greyish-brown {color: $greyish-brown !important;}
.is-brownish-grey {color: $brownish-grey !important;}
.is-pale-grey {color: $pale-grey !important;}
.is-white {color: $white !important;}

.bg-lightblue {background-color: $lightblue}
.bg-bright-orange {background-color: $orange}
.bg-azure {background-color: $azure}
.bg-greyish-brown {background-color: $greyish-brown}
.bg-pale-grey {background-color: $pale-grey}
.bg-bright-grey {background-color: $bright-grey}
.bg-white {background-color: $white}
.bg-white-three {background-color: $white-three}
.bg-white-two {background-color: $white-two}
.bg-gradient-blue {background-image: linear-gradient(to bottom, $lightblue, $azure);}
.bg-gradient-grey {background-image: linear-gradient(to bottom, $white-two, $white);}