@mixin popmenu-bg {
  content: "";
  background: rgba(0, 0, 0, .7);
  position: fixed;
  top: 100px;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  z-index: 10;
}

.navbar-top {
  width: 100%;
  height: 86px;

  .navbar-brand {
    
    .logo {
      width: 100%;
      max-width: 166px;
    }
  }

  .navbar-nav {
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.44;
    letter-spacing: normal;
    text-align: center;

    .nav-item {
      font-size: 14px;  
      
      @media screen and (min-width: $large) {
        font-size: 18px;
      }

      &.dropdown {
        position: inherit;

        &.show::after {
          @include popmenu-bg;

          @media (max-width: 767px) {
            display: none;
          }
        }

        .dropdown-menu {
          font-family: 'Montserrat', sans-serif;
          margin: 0;

          &.show {
            display: flex;
            width: 100% !important;
            border: none;
            border-radius: 0;

            @media (max-width: 767px) {
              position: absolute;
              top: -2px;
            }
          }

          .dropdown-item {
            font-size: 24px;
            color: $lightblue;

            .dropdown-item-desc {
              display: block;
              font-size: 18px;
              color: $greyish-brown;
            }

            @media (max-width: 767px) {
              padding: 20px;
            }
          }

          .heading-menu {
            font-size: 36px;
            font-weight: 300;

            &::after {
              content: "";
              display: block;
              width: 90px;
              height: 2px;
              margin-top: 10px;
              border: solid 2px $lightblue;
            }

            @media (max-width: 767px) {
              margin-bottom: 20px;
              padding-left: 20px;
              padding-right: 20px;
            }
          }
        }
      }
    }

    .nav-link {
      padding: 27px 23px;
      color: $white;
      text-shadow: 0 0 2px #1a87d3;

      &:hover,
      &:focus {
        color: $white;
      }
    }
  }

  .navbar-collapse.fade:not(.show) {
    opacity: 1;
  }

  @media (max-width: 767px) {
    .navbar-collapse {
      &.collapsing,
      &.show {
        font-family: 'Montserrat', sans-serif;
        z-index: 20;
        position: absolute;
        top: 100px;
        right: 0;
        left: 0; 

        .navbar-nav {
          background: $white;
          box-shadow: 0px 10px 10px rgba(0,0,0,.5);
          position: absolute;
          right: 0;
          left: 0;
          margin-top: -2px !important;
          z-index: 11;
        }

        .nav-item {
          text-align: left;
          padding: 0px 15px;

          &.dropdown {
            position: unset;
          }
        }

        .nav-link {
          color: $lightblue;
          text-shadow: none;
          font-size: 20px;
          font-weight: 400;
          text-transform: uppercase;
        }

        &::after {
          @include popmenu-bg;
        }
      }

      &.fade:not(.show) {
        opacity: 0;
      }
    }

    .btn-lg {
      padding: 0.25rem 0.5rem;
      font-size: 0.875rem;
      line-height: 1.5;
      border-radius: 0.2rem;
    }
  }
}

.bg-transparent {
  background: transparent;
}