.size-1 {font-size: 48px !important;}
.size-2 {font-size: 36px !important;}
.size-3 {font-size: 34px !important;}
.size-4 {font-size: 24px !important;}
.size-5 {font-size: 20px !important;}
.size-6 {font-size: 18px !important;}
.size-7 {font-size: 12px !important;}

.is-extrabold {font-weight: 800 !important;}
.is-bold {font-weight: 700 !important;}
.is-semibold {font-weight: 600 !important;}
.is-medium {font-weight: 500 !important;}
.is-normal {font-weight: 400 !important;}
.is-light {font-weight: 300 !important;}

.intro-text, .heading-text, .header-title, .header-description {
  font-family: 'Montserrat', sans-serif;
}

@media screen and (max-width: $max-medium) {
  .size-1 {font-size: 24px !important;}
  .size-2 {font-size: 18px !important;}
  .size-3 {font-size: 17px !important;}
  .size-4 {font-size: 16px !important;}
  .size-5 {font-size: 14px !important;}
  .size-6 {font-size: 13px !important;}
  .size-7 {font-size: 12px !important;}
}

.is-capitalize {
  text-transform: capitalize;
}

.is-uppercase {
  text-transform: uppercase;
}