// Colors
$lightblue:      #61c5f8;
$orange:         #ff6600;
$azure:          #009ae3;
$greyish-brown:  #4a4a4a;
$brownish-grey:  #646464;
$pale-grey:      #f5fcff;
$bright-grey:    #f9f9f9;
$white:          #ffffff;
$white-two:      #fafafa;
$white-three:    #f8f8f8;
$white-four:     #d9d9d9;
$black:          #221f1f;
$pink:           #ff4ca7;

// Border Radius
$border-radius:               .25rem !default;
$border-radius-lg:            .3rem !default;
$border-radius-sm:            .2rem !default;

// Break Points
$extra-small:       575px;
$small:             576px;
$max-small:         767px;
$medium:            768px;
$max-medium:        991px;
$large:             992px;
$max-large:         1199px;
$extra-large:       1200px;