// Required

@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700,800|Open+Sans:300,400,600");

@import 'variables';
@import "~bootstrap/scss/bootstrap";
@import 'navbar';
@import 'type';
@import 'color';
@import 'button';

body {
  margin-top: 85px;
}

.pb-10 {
  padding-bottom: 7rem !important;
}

//--> Navbar 

.navbar-top {
  transition: all .3s ease;
}

.navbar-top .navbar-brand .logo {
  @media screen and (max-width: $extra-small) {
    max-width: 135px;
  }
}

//--> Shadow Helper

.has-text-shadow {
  text-shadow: 0 2px 10px rgba(0, 99, 165, 0.48);
} 

.has-line {
  &::after {
    content: "";
    width: 10%;
    height: 4px;
    background: $azure;
    margin: 10px auto;
    display: block;
  }
}

.has-line-left {
  &::after {
    content: "";
    width: 20%;
    height: 4px;
    background: $azure;
    margin-top: 10px;
    display: block;
  }
}

//---> Link

a {
  color: $orange;
  &:focus,
  &:hover {
    color: $orange;
    text-decoration: none;
  } 
}

//---> Intro
.intro {

  .intro-desc {
    background: $white;
    position: absolute;
    
    &.top-right {
      top: 0;
      right: 0;
    }

    &.top-left {
      top: 0;
      left: 0;
    }

    @media screen and (max-width: 767px) {
      position: static;
    }
  }
}

//--> Position

.top-right {
  top: 0;
  right: 0;
}

//---> Body

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  font-weight: 300;
  color: $black;

  @media screen and (min-width: $large) {
    font-size: 18px;
  }
}

img {
  width: 100%;

  &.img-feature {
    width:100%;
    height:150px;
    object-fit: contain;
  }
}

.mw-200 {
  max-width: 200px;
}

//---> Header Section

#header {
  line-height: 1.5;
  // height: 610px;
  max-height: 610px;
  overflow: hidden;
  background-size: cover;

  @media screen and (max-width: $max-medium) {
      max-height: 100% !important;
  }

  p {
    text-shadow: 0 2px 10px rgba(0, 154, 227, 0.56);
  }

  .header-title {
    
    @media screen and (min-width: $extra-large) {
      font-size: 3.4rem;
    }
    @media screen and (max-width: $max-large) {
      font-size: 3rem;
    }
    @media screen and (max-width: $max-medium) {
      font-size: 2.9rem;
    }
    @media screen and (max-width: $extra-small) {
      font-size: 2rem;
    }
  }

  .header-description {
    @media screen and (max-width: 991px) {
      font-size: 14px
    }
  }

  &.header-bg-1 {
    background-image: url('../../images/intro-image-1.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
  }

  &.header-bg-2 {
    background-image: url('../../images/bg-header-2.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
  }

  &.header-bg-3 {
    background-image: url('../../images/tos-header-bg.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
  }

  &.header-index {
    &::after {
      content: "";
      position: absolute;
      background: $white;
      width: 100%;
      left: 0;
      right: 0;
      bottom: -1px;

      @media screen and (max-width: $max-small) {
        display: none;
      }

      @media screen and (min-width: $medium) {
        height: 15%;
        -webkit-clip-path: polygon(0% 0%, 15% 90%, 100% 0%, 100% 100%, 0% 100%);
        clip-path: polygon(0% 0%, 15% 90%, 100% 0%, 100% 100%, 0% 100%)
      }

      @media screen and (min-width: $large) {
        height: 15%;
        -webkit-clip-path: polygon(0% 0%, 15% 90%, 100% 0%, 100% 100%, 0% 100%);
        clip-path: polygon(0% 0%, 15% 90%, 100% 0%, 100% 100%, 0% 100%);
      }

      @media screen and (min-width: $extra-large) {
        height: 15%;
        -webkit-clip-path: polygon(0% 0%, 20% 90%, 100% 0%, 100% 100%, 0% 100%);
        clip-path: polygon(0% 0%, 20% 90%, 100% 0%, 100% 100%, 0% 100%);
      }

      @media screen and (min-width: 1441px) {
        height: 20%;
        -webkit-clip-path: polygon(0% 0%, 30% 90%, 100% 0%, 100% 100%, 0% 100%);
        clip-path: polygon(0% 0%, 30% 90%, 100% 0%, 100% 100%, 0% 100%);
      }
    }
  }

  .container, .swiper-container {
    height: 100%;
    position: relative;
  }

  .swiper-slide {

    .pull-right {
      right: 0;
    }

    .pull-left {
      left: 0;
    }
  }

  .swiper-image {
    width: 100%;
  }

  .swiper-content {
    width: 60%;
    padding: 10px;
    position: absolute;
    z-index: 20;

    @media screen and (max-width: $max-large) {
      width: 100% !important;
      position: relative;
    }
  }
}

//--> Simulation

#simulation {
  background-image: url('../../images/banner.png');
  background-size: 100% 50%;
  background-position: top center;
  background-repeat: no-repeat;
}

.simulation {
  background: $white;
  border: 1px solid $white-four;
  border-radius: .5rem;
  padding: 2rem;
  text-align: center;

  .simulation__title {
    font-weight: 300;
    font-size: 34px;
    color: $azure;
  }

  .simulation__icon {
    width: 35px;
    height: 35px;
    background-repeat: no-repeat;
    background-size: contain;

    &.newcars {
      background-image: url('../../images/car2.png');
    }
    &.usedcars {
      background-image: url('../../images/car1.png');
    }
    &.danaandalanku {
      background-image: url('../../images/debt.png');
    }
    &.ecommerce {
      background-image: url('../../images/shopping.png');
    }
  }

  @media screen and (max-width: 767px) {
    .nav-justified {
      display: block;
      flex: unset;
    }    
  }


  .nav-tabs .nav-link {
    border: 0;
    opacity: .7;
    color: $greyish-brown;
    font-weight: 500;
    padding: 1rem;

    &.active {
      border-bottom: 3px solid $azure;
      opacity: 1;
    }
  }

}

//--> Form

.input-group-text {
  background: $white;
  color: $greyish-brown;
}

.input-group-text,
.form-control {
  border-color: $white-four;
}

.form-control {
  font-weight: 300;
}

.form-group {
  label {
    color: $azure;

    .fas, .far {
      color: $orange;
    }
  }
}

.form-control::placeholder {
  color: $white-four;
  font-weight: 300;
  opacity: 1;
}

.input-group-lg .form-control,
.input-group-lg .input-group-prepend .input-group-text,
.form-control-lg {
  font-size: 18px;

  @media screen and (max-width: 767px) {
    font-size: 14px;
  }
}

select.form-control {
  color: $white-four;

  option {
    color: $greyish-brown;

    &:first-child {
      color: $white-four;
    }
  }
}

.mat-group {
  background: transparent;
  position: relative;
  margin-bottom: 15px;

  .form-control {
    transition: all ease-out .1s;
    &:focus {
      outline: none;
      box-shadow: none;
      border-color: $orange;
    }
  }

  label {
    position: absolute;
    display: block;
    font-size: 13px;
    color: #bcbcbc;
    left: 15px;
    top: 13px;
    cursor: text;
    transition: all ease-out .1s;

    &.active {
      top: -8px;
      padding: 0px 3px; 
      font-size: 11px;
      color: $orange;
      background: #ffffff;
    }

    &::after {
      display: block;
      content: "";
      position: absolute;
      top: 100%;
      left: 0;
      opacity: 0;
      -webkit-transition: .2s opacity ease-out, .2s color ease-out;
      transition: .2s opacity ease-out, .2s color ease-out;
    }
  }
}

.testimony {

  img {
    max-width: 126px;
    max-height: 126px;
    margin-bottom: 20px;
  }

  .testimony__content {
    position: relative;
    padding-left: 30px;

    &::before {
      content: "\"";
      font-size: 56px;
      font-style: italic;
      position: absolute;
      top: -17px;
      left: -10px;
    }
  }
}

.outlined-form {
  .form-group {
    .form-control {
      background: transparent;
      border-top: 0px;
      border-left: 0px;
      border-right: 0px;
      border-radius: 0;
      border-color: rgba($color: $white, $alpha: .5);
      color: $white;

      &:focus {
        outline: none;
        box-shadow: none;
      }

      &::placeholder {
        color: rgba($color: $white, $alpha: .5);
      }
    }
  }
}

.slider-how-to {
  height:431px;
  overflow:visible !important;

  .swiper-featured-img {
    position: absolute;
    max-width: 350px;
    transform: translateY(-20%);

    @media screen and (max-width: $max-medium) {
      position: relative;
      transform: translateY(0);
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }

  @media screen and (max-width: $max-medium) {
    height: 100% !important;
  }
}

#footer {

  a {
    color: $white;

    &:hover,
    &:focus {
      color: $white-two;
    }
  }

  .logo {
    max-width: 268px;
  }

  .btn-outline-primary {
    color: rgba($color: $white, $alpha: .5);
    border-color: rgba($color: $white, $alpha: .5);

    &:hover {
      color: $white;
      border-color: $white;
      background: transparent;
    }
  }

  .social {
    margin: 0px -15px;

    a {
      padding: 0px 15px;
    }
  }
}

.is-rounded-half {
  border-radius: 50px;
}

.is-bordered {
  border: 2px solid $white-four;
}

hr.is-white {
  border-color: rgba($color: $white, $alpha: .5) !important;
}

.card {
  transition: all .3s ease-in-out;
  border: 0;
  border-radius: 10px;
  
  .card-img-top {
    max-height: 200px;
    object-fit: cover;
    object-position: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .card-body {
    background: $white-three;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  &:hover {
    box-shadow: 0px 5px 25px rgba($color: $black, $alpha: .1);

    .card-body {
      background: $white;
    }
  }
}

.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background: #e0e0e0;
  border: 0;

  &.active {
    background: $orange;
  }
}

.footer-link {
  a:hover {
    color: $white;
    opacity: 1;
  }
}

.services-nav-menu {
  border-radius: 5px;
  margin-bottom: -75px;
  border: 1px solid $white-four;

  .nav-item {

    &:first-child {
      border-right: 1px solid $white-four;
    }

    &:last-child {
      border-left: 1px solid $white-four;
    }

    .nav-link {
      color: $greyish-brown;
      padding-top: 0;
      padding-bottom: 0;

      &:hover,
      &.active {
        background: none;
        color: $azure !important;
      }
    }
  }
}

#howto {
  .container-fluid::before {
    content: "";
    top: 24%;
    left: 0;
    right: 0;
    bottom: 18%;
    background: $pale-grey;
    position: absolute;

    @media screen and (max-width: $max-small) {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }

  .carousel {
    min-height: 500px;

    @media screen and (max-width: $max-medium) {
      min-height: 300px;
    }

    .howto-text {
      margin-top: -150px;
      background: $pale-grey;
      @media screen and (max-width: $max-medium) {
        margin-top: 0;
      }
    }

    .howto-image img {
      width: 350px;

      @media screen and (max-width: $max-medium) {
        width: 200px;
      }
    }
  }

  .carousel-indicators {
    margin-right: 0;
    margin-left: 0;
    right: unset;
    left: 10px;
    bottom: 27%;
    margin-bottom: 0;

    @media screen and (max-width: $max-medium) {
      left: calc( 50% - 45px );
      bottom: 0;
    }

    li {
      margin-right: 20px;
    }
  }

  .carousel-control-prev, 
  .carousel-control-next {
    width: 0;
    color: $black;
  }

  .carousel-control-prev {
    left: -50px;
    @media screen and (max-width: $max-medium) {
      left: -10px;
    }
  }

  .carousel-control-next {
    right: -50px;
    @media screen and (max-width: $max-medium) {
      right: -10px;
    }
  }
}

.single-post__header img {
  object-fit: cover;
  object-position: top center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.social {
  list-style: none;
  padding: 0;

  li {
    display: inline-block;
    margin: 0 15px;

    .fa-facebook {color: $azure}
    .fa-instagram {color: $pink}
    .fa-twitter  {color: $lightblue}
  }
}

.invalid-feedback {
  font-size: 12px;
}

.ld {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba($color: $white, $alpha: .95);
  display: none;

  &.active {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.loading {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.loading div {
  position: absolute;
  border: 4px solid $orange;
  opacity: 1;
  border-radius: 50%;
  animation: loading 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.loading div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes loading {
  0% {
    top: 28px;
    left: 28px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: -1px;
    left: -1px;
    width: 58px;
    height: 58px;
    opacity: 0;
  }
}

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
  box-shadow: 2px 2px 3px #999;
  transition: all .3s ease-in-out;
  z-index:100;

  &:hover {
    color: $white;
    background-color: darken(#25d366,5%);
  }
}

.my-float{
	margin-top:16px;
}

#thanks {
  .modal-content {
    border-radius: 15px;
  }

  .modal-header {
    background-image: url('../../images/bg-subscribed-modal.png');
    background-size: cover;
    background-position: bottom;
    border: 0;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

    img {
      max-width: 150px;
    }

    .close {
      position: absolute;
      right: 20px;
      color: $white;
      opacity: 1;
      text-shadow: unset;
    }
  }
}

.header-contact {
  background-image: url('../../images/header-contact.png');
  background-size: cover;
  padding-bottom: 150px;
}

@media screen and (max-width: $small) {
  .btn-lg {
    font-size: .7rem;
  }
  .xs-hidden {
    display: none;
  }
}

.carousel-fade .carousel-item {
  opacity: 0;
  transition-duration: .3s;
  transition-property: opacity;
 }
 
 .carousel-fade  .carousel-item.active,
 .carousel-fade  .carousel-item-next.carousel-item-left,
 .carousel-fade  .carousel-item-prev.carousel-item-right {
   opacity: 1;
 }
 
 .carousel-fade .active.carousel-item-left,
 .carousel-fade  .active.carousel-item-right {
  opacity: 0;
 }
 
 .carousel-fade  .carousel-item-next,
 .carousel-fade .carousel-item-prev,
 .carousel-fade .carousel-item.active,
 .carousel-fade .active.carousel-item-left,
 .carousel-fade  .active.carousel-item-prev {
  transform: translateX(0);
  transform: translate3d(0, 0, 0);
 }

 .email-subscription {
   background: $white;
   border-radius: 50px;
   padding: 5px;
   
   input {
     width: 100%;
     font-size: 14px;
     border: 0;
     margin-left: 5px;
     margin-right: 5px;

     &:active,
     &:focus {
       outline: none;
       box-shadow: none;
     }
   }

   button {
     background: $orange;
     color: $white;
     border: 0;
     border-radius: 50px;
     min-width: 100px;
     padding: 5px;
     
     &:hover {
       background: darken($color: $orange, $amount: 2);
     }
   }
 }

 .slick-dots {

   li button:before {
     font-size: 16px !important;
     color: rgba($color: $black, $alpha: .2);
     opacity: .5 !important;
   }

   li.slick-active button:before {
     color: #ff9b00 !important;
     opacity: 1 !important;
   }
 }

.social-links {
  position: fixed;
  right: 0;
  bottom: calc(50vh - 100px);
  width: 50px;
  box-shadow: -5px 3px 15px rgba($color: $black, $alpha: .1);
  z-index: 100;
  
  a {
    width: 100%;
    height: 48px;
    color: $lightblue;
    background: $white;
    display: block;
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1px;
    transition: color .2s ease;

    &:active,
    &:focus,
    &:hover {
      color: $orange;
    }
  }
}

.btn-img {
  max-width: 200px;
  display: inline-block;
}

.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
  right: calc(5% - 27px) !important;
}

.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
  left: calc(5% - 27px) !important;
}