.faq-card {
  padding: 0;
  border-radius: 0;
  border: 1px solid #fff;
}
.faq-card .card-header {
  background-color: #f5f5f5;
  font-size: 18px;
  padding: 20px;
}
.faq-card a:hover {
  cursor: pointer;
}
.faq-card .card-body {
  background-color: #fff;
}

.input-group-customs .input-group-prepend {
  display: flex;
  align-items: flex-end;
}

.input-group-customs .input-group-prepend .input-group-text {
  border: unset;
  font-size: 28px;
  padding: 0;
  padding-right: 12px;
  line-height: 1.2;
}

.input-group-customs .form-control {
  border: 0;
  border-bottom: 1px solid #d9d9d9;
  padding: 0px 12px;
  height: 30px !important;
  font-size: 22px;
}

.input-group-customs .form-control[readonly] {
  background-color: unset;
}

input[type='range'] {
  -webkit-appearance: none;
  width: 100%;
  margin: 9px 0;
}
input[type='range']:focus {
  outline: none;
}
input[type='range']::-webkit-slider-runnable-track {
  width: 100%;
  height: 12px;
  cursor: pointer;
  box-shadow: 0px 0px 1.1px #000000, 0px 0px 0px #0d0d0d;
  background: #61c5f8;
  border-radius: 6px;
  border: 0px solid rgba(1, 1, 1, 0);
}
input[type='range']::-webkit-slider-thumb {
  box-shadow: 1px 1px 6px #ff6600, 0px 0px 1px #ff751a;
  border: 1px solid #eb5e00;
  height: 30px;
  width: 30px;
  border-radius: 30px;
  background: #ff6600;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -9px;
}
input[type='range']:focus::-webkit-slider-runnable-track {
  background: #79cef9;
}
input[type='range']::-moz-range-track {
  width: 100%;
  height: 12px;
  cursor: pointer;
  box-shadow: 0px 0px 1.1px #000000, 0px 0px 0px #0d0d0d;
  background: #61c5f8;
  border-radius: 0px;
  border: 0px solid rgba(1, 1, 1, 0);
}
input[type='range']::-moz-range-thumb {
  box-shadow: 1px 1px 6px #ff6600, 0px 0px 1px #ff751a;
  border: 1px solid #eb5e00;
  height: 30px;
  width: 30px;
  border-radius: 30px;
  background: #ff6600;
  cursor: pointer;
}
input[type='range']::-ms-track {
  width: 100%;
  height: 12px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type='range']::-ms-fill-lower {
  background: #49bcf7;
  border: 0px solid rgba(1, 1, 1, 0);
  border-radius: 6px;
  box-shadow: 0px 0px 1.1px #000000, 0px 0px 0px #0d0d0d;
}
input[type='range']::-ms-fill-upper {
  background: #61c5f8;
  border: 0px solid rgba(1, 1, 1, 0);
  border-radius: 6px;
  box-shadow: 0px 0px 1.1px #000000, 0px 0px 0px #0d0d0d;
}
input[type='range']::-ms-thumb {
  box-shadow: 1px 1px 6px #ff6600, 0px 0px 1px #ff751a;
  border: 1px solid #eb5e00;
  height: 30px;
  width: 30px;
  border-radius: 30px;
  background: #ff6600;
  cursor: pointer;
  height: 12px;
}
input[type='range']:focus::-ms-fill-lower {
  background: #61c5f8;
}
input[type='range']:focus::-ms-fill-upper {
  background: #79cef9;
}
.Download-btns {
  width: 145.4px;
  height: 45px;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.carausel-image{
  width: 100%;
  padding-top: 42.36%;
  position: relative;
}
.carausel-image img{
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  object-position: center center;
}

